<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <header>
    <h1>Show Page for <%= author.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors">Author Index</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <h2>Author Attributes</h2>
    <ul>
      <li>Name: <%= author.name %></li>
    </ul>
    <p><a href="/authors/<%= author.id %>/edit">Edit author information</a></p>
    <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
      <button>Delete <%= author.name %></button>      
    </form>
  </main>

</body>
</html>
